<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longshihan.uetooltaichi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--表明这是一个xposed插件-->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <!--指定xposed的最小版本-->
        <meta-data
            android:name="xposedminversion"
            android:value="2+" />
        <!--插件的描述-->
        <meta-data
            android:name="xposeddescription"
            android:value="UETool-设计师、程序员专享" />
    </application>

</manifest>